.CupOne {
    position: absolute;
    top: 50%;
    left: 17%;
    border: 1px solid pink;
    height: 300px;
    width: 240px;
}

.CupOne.active {
    animation: shuffleOne 3.1s  linear
}

.CupTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid pink;
    height: 300px;
    width: 240px;
}
.CupTwo.active {
    animation: shuffleTwo 3.1s  linear
}
.CupThree {
    position: absolute;
    top: 50%;
    left: 85%;
    border: 1px solid pink;
    height: 300px;
    width: 240px;
}
.CupThree.active {
    animation: shuffleThree 3.1s  linear
}

.CupOne img {
    display: block;
    height: 100%;
    width: 100%;
}
.CupTwo img {
    display: block;
    height: 100%;
    width: 100%;
}
.CupThree img {
    display: block;
    height: 100%;
    width: 100%;
}


@keyframes shuffleOne {
    0% {margin: 0;}
    20% {
        top: 85%;
        left: 60%
    }
    40% {
        top: 15%;
        left: 40%
    }
    50%{top: 30%;
        left: 45%}
        
        60% {top: 80%;
            left: 35%}
            75% {top: 40%;
                left: 10%}
                87%{top: 40%;
                    left: 45%}
    100% {left: 10%;
        transform: rotate(360deg);}
}
@keyframes shuffleTwo {
    0% {margin: 0px 0px 0px 0px;}
    20% {
        top: 40%;
        left: 30%
    }
    40% {
        top: 60%;
        left: 70%
    }
    50%{top: 20%;
        left: 45%} 
        
        60% {top: 60%;
            left: 60%}
        75% {top: 40%;
                left: 70%}
                87%{top: 40%;
                    left: 45%}
    100% {left: 43%;
        transform: rotate(360deg);}
}
@keyframes shuffleThree {
    0% {margin: 0px 0px 0px 0px;}
    20% {
        top: 45%;
        left: 20%
    }
    40% {
        top: 55%;
        left: 80%
    }
    50%{top: 10%;
        left: 50%} 
         
        60% {top: 35%;
            left: 80%}
            75% {top: 10%;
                left: 40%}
                87%{top: 40%;
                    left: 45%}  

    100% {left: 76%;
        transform: rotate(360deg);}
}